*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img::before(.sa){
    
    content: '';
    width: 160px;
    height: 160px;
    position: absolute;
    background-size: cover;
    top: 0;
    left: 150px;
}
img{
    width: 15vw;
    height: 15vw;
    
}
.sa{
    width: 20vw;
    height: 20vw;
}
.hi{
    height: 40vw;
}
img{
   
}


